apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Release.Namespace }}
  labels:
    app: kafka
spec:
  clusterIP: None
  ports:
    - port: 9092
      name: client
    - port: 9093
      name: controller
  selector:
    app: kafka
